@using Microsoft.AspNet.Identity
@model IEnumerable<Server_WEB_Programming.Lab2.Dal.Entities.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sages)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ListBox("Id", new SelectList(item.Sages, "IdSage", "Name"))
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdBook })
                    </p>
                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.IdBook })
                    </p>
                    <p>
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdBook })
                    </p>
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.IdBook })
                }
                </td>
        </tr>
    }

</table>
