@model Server_WEB_Programming.Lab2.Dal.Entities.Sage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @{
                if (Model.Photo != null)
                {
                    string imageBase64 = Convert.ToBase64String(Model.Photo);
                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                    <img src="@imageSrc" width="50" height="50" />
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

    <h4>Books</h4>
    <hr />

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>

        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }

    </table>

</div>
<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdSage })
    }

    @Html.ActionLink("Back to List", "Index")
</p>
