@using Microsoft.AspNet.Identity
@model IEnumerable<Server_WEB_Programming.Lab2.Dal.Entities.Sage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @{
                    if (item.Photo != null)
                    {
                        string imageBase64 = Convert.ToBase64String(item.Photo);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img src="@imageSrc" width="50" height="50" />
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ListBox("Id", new SelectList(item.Books, "IdBook", "Name"))
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdSage })
                    </p>
                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.IdSage })
                    </p>
                    <p>
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdSage })
                    </p>
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.IdSage })
                }
            </td>
        </tr>
    }

</table>
